@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.favorites_button_header_container {
  display: none;
  @include query(1100px) {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    // width: 60%;
  }
}

.header_component_button_container {
  border-radius: 8px;
  background: $greyColor;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  column-gap: 0.25rem;
  min-width: fit-content;

  @include query(1100px) {
    height: 1.75rem;
    cursor: pointer;
  }

  .header_component_button {
    border: none;
    background: transparent;
    // Fonts
    @include fontInformationMobile;
    color: $blackColor;

    @include query(1100px) {
      cursor: pointer;
      // Fonts
      @include fontInformationDesktopTertiary;
      color: $blackColor;
    }
  }

  .header_component_arrow_icon {
    width: 0.75rem;
    height: 0.75rem;

    @include query(1100px) {
      width: 0.9rem;
      height: 0.9rem;
    }
  }
}
