@import "../sassContainer/mixins";

// information section
.cart_information_main_container {
  max-width: 20rem;
  height: 29.5rem;
  border-radius: 8px;
  border: 1px solid $greyColorSecondary;
  background: $naturalWhite;
  padding: 1.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.cart_wrapper {
  height: 10.5rem;
  width: 100%;
  background: $greyColorTertiary;
  overflow-y: scroll;
  padding: 0 0.5rem;
}

// End of information section


