@import "../../sassContainer/mixins";

.cart_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 20rem;

  @include query(1100px) {
    display: none;
  }
}

.cart_arrow_icon {
  width: 1rem;
  height: 1rem;
}

.cart_header_title {
  @include fontTitleMobilePrimary;
}

.cart_trash_icon {
  width: 1rem;
  height: 1rem;
}
// End of header cart section
