@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.cart_payment_page_discount_container {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $greyColorSecondary;
  background: $naturalWhite;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  @include query(1100px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.cart_payment_page_discount_top_wrapper {
  display: flex;
  column-gap: 0.25rem;
  align-items: center;

  @include query(1100px) {
    flex: 1.5;
    column-gap: 0.5rem;
  }
}

.cart_payment_page_discount_icon {
  width: 1rem;
  height: 1rem;
}

.cart_payment_page_discount_text {
  // Fonts
  @include fontInformationDesktopSecondary;
  font-weight: 400;
  color: $blackColor;

  @include query(1100px) {
    // Fonts
    @include fontInformationDesktopQuinary;
    font-weight: 400;
  }
}

.cart_payment_page_discount_line_hidden {
  @include query(1100px) {
    display: none;
  }
}

.cart_payment_page_discount_button_container {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  @include query(1100px) {
    flex: 5;
  }
}

.cart_payment_page_discount_placeholder_text {
  border: 1px solid $greyColorSecondary;
  height: 2rem;
  border-radius: 0.25rem;
  width: 100%;
  padding-right: 0.5rem;

  // Fonts
  @include fontInformationDesktopSenary;

  &::placeholder {
    color: $greyColorDark;
  }

  &:focus {
    outline: none;
  }

  @include query(1100px) {
    width: 80%;
    // Fonts
    @include fontInformationDesktopSecondary;
    font-weight: 400;
  }
}

.cart_payment_page_discount_button {
  border-radius: 0.25rem;
  background: $greyColorSecondary;
  border: none;
  width: 3.1875rem;
  height: 2rem;
  // Fonts
  @include fontInformationDesktopSenary;
  color: $greyColor;

  @include query(1100px) {
    width: 4.5rem;
    cursor: pointer;
    // Fonts
    @include fontInformationDesktopQuinary;
    color: $greyColor;
  }
}
