@import "../../../../sassContainer/mixins";
@import "../../../../sassContainer/variables";

.cart_Completing_Information_Payment_container {
  // border-radius: 0.5rem;
  // border: 1px solid $greyColorSecondary;
  // background: $naturalWhite;
  // padding: 1.5rem;
  // margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.cart_Completing_Information_Payment_wrapper {
  display: flex;
  justify-content: space-between;
  // Fonts
  @include fontInformationDesktopSecondary;
  font-weight: 400;
  color: $blackColor;
}

.cart_Completing_Information_Payment_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  // width: 17rem;
  width: 100%;
  max-width: 17rem;
  // width: 3rem;
  height: 2rem;
  border-radius: 0.25rem;
  background: $primaryColor;
  margin: 0 auto;

  @include query(1100px) {
    cursor: pointer;
    width: 17rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
}

.cart_Completing_Information_Payment_text_gray {
  // Fonts
  color: $greyColorDark;
}

.cart_Completing_Information_Payment_text_green {
  // Fonts
  color: $primaryColor;
}

.cart_Completing_Information_Payment_button {
  border: none;
  background: transparent;
  // Fonts
  @include fontInformationDesktopSenary;
  color: $naturalWhite;

  &:focus {
    outline: none;
  }

  @include query(1100px) {
    cursor: pointer;
    // Fonts
    @include fontInformationDesktopQuinary;
    color: $naturalWhite;
  }
}

.cart_completing_information_payment_card_icon {
  @include query(1100px) {
    width: 1.1rem;
    height: 1.1rem;
  }
}
