@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.my_profile_container {
  @include query(1100px) {
    border-radius: 0.5rem;
    border: 1px solid $greyColorSecondary;
    background: $naturalWhite;
    padding: 1.5rem;
    width: 77.5%;
    height: 21rem;
  }
}

.my_profile_title {
  display: none;

  @include query(1100px) {
    display: block;
    // Fonts
    @include fontTitleDesktopTertiary;
  }
}

.my_profile_horizontal_line {
  display: none;

  @include query(1100px) {
    display: block;
    border: none;
    border-bottom: 1px solid $greyColorSecondary;
    padding-top: 0.5rem;
  }
}

.my_profile_bottom_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  padding: 1.5rem 1.25rem;

  @include query(1100px) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 2rem 1.5rem 2rem;
  }
}

.my_profile_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.75rem;

  @include query(1100px) {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
}

.my_profile_button_container {
  border-radius: 0.25rem;
  border: 1px solid $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  margin: 0 auto;
  width: 10rem;
  height: 2rem;

  @include query(1100px) {
    width: 14rem;
    column-gap: 0.5rem;
    cursor: pointer;
  }
}

.my_profile_edit_icon {
  width: 1rem;
  height: 1rem;

  @include query(1100px) {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.my_profile_button {
  background: transparent;
  border: none;
  // Fonts
  @include fontInformationDesktopSenary;
  color: $primaryColor;

  @include query(1100px) {
    cursor: pointer;
    // Fonts
    @include fontInformationDesktopQuinary;
    color: $primaryColor;
  }
}

.my_profile_placeholder_text {
  border: 1px solid $greyColorSecondary;
  border-radius: 0.25rem;
  height: 2rem;
  padding-right: 1rem;
  // Fonts
  @include fontInformationMobile;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $greyColorSecondary;
  }

  @include query(1100px) {
    width: 40%;
    height: 2.4rem;
    margin: 0 auto;
    // Fonts
    @include fontInformationDesktopSecondary;
  }
}
