@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.cart_completing_information_delivery_option_container {
  // width: 20rem;
  // height: 8.3125rem;
  border-radius: 0.5rem;
  border: 1px solid $greyColorSecondary;
  padding: 1rem 1rem;

  @include query(1100px) {
    display: flex;
    align-items: center;
    // column-gap: 2rem;
  }
}

.cart_completing_information_line {
  border-top: 1px solid $greyColorSecondary;
}

.cart_completing_information_line_hidden {
  @include query(1100px) {
    display: none;
  }
}
