@import "../../sassContainer/variables";
@import "../../sassContainer/mixins";

.Introduction_container {
  padding: 1rem 1.25rem;
  margin: 3.5rem auto 0 auto;
  background: url("../../../../public/assets/images/bannerImages/about.png");
  background-size: cover;
  max-width: 1500px;

  @include query(1100px) {
    display: flex;
  }
}

// information section
.introduction_information_container {
  @include query(1100px) {
    flex: 1;
  }

  .Introduction_title {
    @include fontTitleMobilePrimary;
    font-weight: normal;
    line-height: 180%;
    color: $naturalWhite;

    @include query(1100px) {
      @include fontTitleDesktopPrimary;
      font-weight: 700;
      color: $naturalWhite;
    }
  }

  .introduction_information {
    @include fontInformationMobile;
    margin-top: 0.5rem;
    text-align: justify;
    max-width: 24rem;

    @include query(700px) {
      max-width: 70%;
    }

    @include query(1100px) {
      @include fontInformationDesktop;
      max-width: 100%;
    }
  }

  .Introduction_button {
    @include primaryButtonOutlinedMobile;
    margin-top: 0.5rem;

    @include query(1100px) {
      @include primaryButtonOutlinedDesktop;
      margin-top: 1rem;
    }
  }
}
// End of information section
// ***************
// ***************
// Icons section
.Introduction_icons_container {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;

  @include query(1100px) {
    flex: 1;
  }

  .introduction_icons_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: center;

    .Introduction_icon {
      width: 1.5rem;
      height: 1.5rem;

      @include query(1100px) {
        width: 3rem;
        height: 3rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .Introduction_text {
      @include fontTitleMobileSecondary;
      color: $naturalWhite;

      @include query(1100px) {
        @include fontTitleDesktopSecondary;
        color: $naturalWhite;
      }
    }
  }
}
// End of Icons section
