@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.profile_mobile_container {
  @include query(1100px) {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem 1.25rem;

    border-radius: 0.5rem;
    border: 1px solid $greyColorSecondary;
    background: $naturalWhite;
    width: 22.5%;
    // height: 16.3rem;
    height: fit-content;
  }
}

.dashboard_horizontal_line {
  display: none;
  @include query(1100px) {
    border: none;
    border-bottom: 1px solid #757575;
  }
}
