@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

.profile_main_container {
  @include query(1100px) {
    display: flex;
    column-gap: 1rem;
  }
}

.profile_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  @include query(1100px) {
    border-radius: 0.5rem;
    border: 1px solid $greyColorSecondary;
    background: $naturalWhite;
    padding: 1rem 0.5rem;
    width: 20%;
    height: 18rem;
  }
}
