@import "../../sassContainer/mixins";

.cart_container {
  height: 3.43rem;
  //
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include query(1100px) {
    all: unset;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    // border: 2px solid black;
    border-radius: 0.5rem;
    border: 1px solid $greyColorSecondary;
    background: $naturalWhite;
    padding: 0.5rem;
  }
}

.cart_information_container {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;

  @include query(1100px) {
    grid-column: 1/4;
    align-items: center;
    justify-content: space-between;
  }

  .cart_information_title {
    @include fontTitleMobileSecondary;

    @include query(1100px) {
      // display: grid;
      // display: grid;
      // grid-column: 1/2;
    }
  }

  .cart_information_trash_icon {
    display: none;

    @include query(1100px) {
      display: grid;
      grid-column: 3/4;
      width: 1rem;
      height: 1rem;
    }
  }
}

.cart_final_price_container {
  @include fontInformationMobile;
  color: $greyColorDark;
  display: grid;
  grid-column: 1/2;

  @include query(1100px) {
    grid-row: 3/4;
    grid-column: 3/4;
    align-items: center;
    justify-content: flex-end;
  }

  .cart_final_price {
    // @include fontInformationMobile;
    // color: $greyColorDark;

    @include query(1100px) {
      // display: grid;
    }
  }
}

.cart_button_container {
  display: grid;
  grid-column: 4/5;
  grid-row: 1/3;
  //
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 4px;
  border: 1px solid $primaryColorLight;
  background: $primaryColorLight;
  height: 2rem;
  padding: 0rem 0.25rem;
  margin-top: 0.3rem;

  @include query(1100px) {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    width: fit-content;
    align-items: center;
  }
}

// icons
.cart_increase_icon {
  width: 0.7rem;
  height: 0.7rem;
}

.cart_decrease_icon {
  width: 0.7rem;
  height: 0.2rem;
}

.cart_trash_icon {
  width: 1rem;
  height: 1rem;
}
// End of icons

// 1100px
// ****************
// ****************
// 1100px
.cart_image {
  display: none;

  @include query(1100px) {
    display: block;
    width: 10.5rem;
    height: 9.5rem;
  }
}

.cart_description_container {
  display: none;

  @include query(1100px) {
    display: grid;
    grid-column: 1/4;
    //
    justify-content: space-between;
  }

  .cart_description {
    // @include query(1100px) {
    //   display: block;
    // }
  }
}

.cart_highPrice_discount_container {
  display: none;

  @include query(1100px) {
    display: grid;
    grid-column: 2/3;
    display: flex;
    column-gap: 0.5rem;
  }

  .cart_high_price {
    @include query(1100px) {
      text-decoration: line-through;
    }
  }

  .cart_discount {
    @include query(1100px) {
      // display: block;
    }
  }
}

.cart_star_container {
  display: none;

  @include query(1100px) {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    align-items: center;
  }
}
