@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

.order_tracking_main_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 77.5%;
  border-radius: 0.5rem;
  border: 1px solid $greyColorSecondary;
  padding: 1.25rem;
}

.order_tracking_horizontal_line {
  border: none;
  border-bottom: 1px solid $greyColorSecondary;
}
