@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

.order_tracking_main_container {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
