@import "../../sassContainer/variables";
@import "../../sassContainer/mixins";

.header_component_container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  // justify-content: center;
  margin-top: 0.5rem;
  // test
  padding: 0rem 1.25rem;
  @include query(1100px) {
    margin-top: 0;
    // justify-content: flex-start;
    // width: 70%;
    // flex: 5;
    // background: red;
  }

  @include query(1320px) {
    // width: 50%;
    // width: 55%;
    // width: 150%;
    // background: #000;
  }
}

.header_component_button_container {
  border-radius: 8px;
  background: $greyColor;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  column-gap: 0.25rem;
  // pointer-events: none;
  // test
  min-width: fit-content;
  // min-width: 100%;
  // background: red;

  @include query(1100px) {
    height: 1.75rem;
    cursor: pointer;
  }

  .header_component_button {
    border: none;
    background: transparent;
    // Fonts
    @include fontInformationMobile;
    color: $blackColor;

    @include query(1100px) {
      cursor: pointer;
      // Fonts
      @include fontInformationDesktopTertiary;
      color: $blackColor;
    }
  }

  .header_component_arrow_icon {
    width: 0.75rem;
    height: 0.75rem;

    @include query(1100px) {
      width: 0.9rem;
      height: 0.9rem;
    }
  }
}
