@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

// Header Container

.navbar_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 900;
}

.navbar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.25rem;
  background: $naturalWhite;
  max-width: 1500px;
  margin: 0 auto;

  @include query(1100px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  // Top container
  .navbar_right_side_container {
    @include query(1100px) {
      display: none;
    }
  }

  .navbar_center_container {
    @include query(1100px) {
      grid-column: 1/2;
    }
  }

  .navbar_left_side_container {
    display: flex;
    column-gap: 0.25rem;

    @include query(1100px) {
      grid-column: 4/5;
      column-gap: 0.5rem;

      justify-content: flex-end;
    }
  }

  // Hiding search icon
  .navbar_left_side_container img:first-child {
    display: none;

    @include query(1100px) {
      display: block;
    }
  }

  .navbar_icon {
    @include iconMobile;

    @include query(1100px) {
      @include iconDesktop;
    }
  }

  .navbar_close_icon {
    position: absolute;
    top: 1rem;
    left: 45%;
    z-index: 999;
    @include query(1100px) {
      display: none;
    }
  }

  .navbar_arrow_icon {
    display: none;

    @include query(1100px) {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }

  .navbar_logo {
    width: 6.37rem;
    height: 2rem;

    @include query(1100px) {
      width: 9rem;
      height: 3rem;
      // object-fit: cover;
    }
  }

  // Links Container
  .navbar_links_container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0 1.25rem;
    background: $naturalWhite;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09),
      0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01),
      0px 25px 7px 0px rgba(0, 0, 0, 0);
    // Font
    @include fontTitleMobileSecondary;
    color: $greyColorDark;
    font-weight: 400;

    @include query(1100px) {
      all: unset;
      grid-column: 2/4;
      grid-row: 1/2;
      display: flex;
      column-gap: 1.5rem;
      justify-content: center;
      align-items: center;
      // Font
      @include fontTitleDesktopSecondary;
    }

    .navbar_links_wrapper_show {
      display: block;
    }

    .navbar_links_wrapper_not_show {
      display: none;

      @include query(1100px) {
        display: block;
      }
    }

    .navbar_link_item {
      border-bottom: 1px solid #cbcbcb;
      margin-top: 0.7rem;
      cursor: pointer;

      @include query(1100px) {
        all: unset;
        cursor: pointer;
      }
    }

    // Active Links
    .navbar_link_not_active {
      color: $greyColorDark;
      text-decoration: none;
    }

    .navbar_link_active {
      color: $primaryColor;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;
    }

    @include query(1100px) {
      .navbar_link_active {
        position: relative;
        font-size: 0.96rem;
        font-weight: 600;
        line-height: 140%;
      }

      .navbar_link_active::after {
        content: "";
        background: $primaryColor;
        position: absolute;
        top: 1.9rem;
        right: 0;
        height: 1.2px;
        width: 80%;
        border-radius: 1px;
        transform: translate(-10%, 0);
      }
    }
  }
}
