@import "../../../../sassContainer/mixins";
@import "../../../../sassContainer/variables";

.cart_completing_information_desktop_container {
  display: none;

  @include query(1100px) {
    display: flex;
    column-gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

.cart_completing_information_desktop_wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  // Fonts
  @include fontInformationDesktopSecondary;
  font-weight: 400;
  color: $greyColorSecondary;
}

.cart_completing_information_desktop_wrapper_active {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  // Fonts
  @include fontInformationDesktopSeptenary;
  color: $primaryColor;
}

.cart_completing_information_desktop_icon {
  display: flex;
  align-items: center;
}

// .cart_completing_information_desktop_icon_active {
//   color: $primaryColor;
// }

.cart_completing_information_desktop_text {
  // Fonts
  // @include fontInformationDesktopSecondary;
  // font-weight: 400;
  // color: $greyColorSecondary;
}
