@import "../sassContainer/mixins";
@import "../sassContainer/variables";

.header_container {
  width: 100%;

  .header_information_container {
    position: relative;
    display: flex;
  }

  .header_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // Fonts
    @include fontTitleMobile;
    color: $primaryColorLight;
    text-align: center;
  }

  .header_image {
    width: 22.5rem;
    height: 11rem;
    object-fit: cover;
  }
}
