@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

.branch_comment_main_container {
  // padding-top: 3.5rem;
  padding-top: 2.5rem;
  padding-right: 1.25rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;

  @include query(1100px) {
    padding-top: 4.3rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
}

.branch_comment_main_title {
  display: flex;
  justify-content: center;
  // Fonts
  @include fontTitleMobilePrimary;

  @include query(1100px) {
    // Fonts
    @include fontTitleDesktopPrimary;
  }
}

.branch_comment_card_main_container {
  display: flex;
  // flex-wrap: wrap;
  column-gap: 1rem;
}
