@import "../../../sassContainer/mixins";
@import "../../../sassContainer/variables";

.questions_container {
  border: 1px solid $greyColorSecondary;
  background: $naturalWhite;
  border-radius: 0.25rem;
}

