@import "../../../../sassContainer/mixins";
@import "../../../../sassContainer/variables";

.profile_bottom_container {
  display: none;

  @include query(1100px) {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

.profile_bottom_wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.profile_bottom_text {
  @include query(1100px) {
    cursor: pointer;
    // Fonts
    @include fontInformationDesktopSecondary;
    font-weight: 400;
    color: $blackColor;
  }
}

.profile_bottom_text_logout {
  color: $redColor;
}

.profile_icons {
  width: 1rem;
  height: 1rem;
}
