@import "../../../../sassContainer/mixins";
@import "../../../../sassContainer/variables";

.profile_bottom_container {
  display: none;

  @include query(1100px) {
    display: flex;
    flex-direction: column;
    row-gap: 0.15rem;
  }
}

.profile_bottom_wrapper {
  display: flex;
  column-gap: 0.25rem;
}

.profile_icons_active {
  color: $primaryColor;
  height: 1.3rem;
}

.profile_logout_icon {
  display: flex;
  align-items: center;
  color: $redColor;
}

.profile_icons {
  display: flex;
  align-items: center;
  color: $blackColor;
}

.profile_bottom_text_active {
  cursor: pointer;
  position: relative;
  // Fonts
  @include fontInformationDesktopTertiary;
  color: green;
}

.profile_bottom_text_active::after {
  content: "";
  background: $primaryColor;
  position: absolute;
  top: 0.2rem;
  right: -1.6rem;
  height: 75%;
  width: 2px;
}

.profile_bottom_text_logout {
  cursor: pointer;
  // Fonts
  @include fontInformationDesktopSecondary;
  font-weight: 400;
  color: $redColor;
}

.profile_bottom_text {
  @include query(1100px) {
    cursor: pointer;
    // Fonts
    @include fontInformationDesktopSecondary;
    font-weight: 400;
    color: $blackColor;
  }
}
