@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

// Header Container
.navbar_header {
  background: #f1c4c4;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;

  @include query(768px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  // Top container
  .navbar_right_side_container {
    @include query(768px) {
      display: none;
    }
  }

  .navbar_center_container {
    @include query(768px) {
      grid-column: 1/2;
      // background: #50c719;
      display: flex;
      justify-content: center;
    }
  }

  .navbar_left_side_container {
    display: flex;
    column-gap: 4px;

    @include query(768px) {
      grid-column: 4/5;
      // background: #ebbf46;
      display: flex;
      justify-content: center;
    }
  }

  .navbar_icon {
    @include iconMobile;

    @include query(768px) {
      @include iconDesktop;
    }
  }

  .navbar_logo {
    width: 102px;
    height: 32px;

    @include query(768px) {
      width: 9.6875rem;
      height: 3.1875rem;
    }
  }

  // Links Container
  .navbar_links_container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0 20px;
    // Font
    color: $greyColorDark;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;

    @include query(768px) {
      all: unset;
      grid-column: 2/4;
      grid-row: 1/2;
      display: flex;
      column-gap: 1rem;
      justify-content: center;
      // background: red;
      // Font
      color: $greyColorDark;
      text-align: center;
      font-size: 1.25rem;
      line-height: 180%;
    }

    .navbar_links_wrapper_show {
      display: block;
    }

    .navbar_links_wrapper_not_show {
      display: none;

      @include query(768px) {
        display: block;
      }
    }

    .navbar_link_item {
      border-bottom: 1px solid #cbcbcb;
      margin-top: 0.7rem;

      @include query(768px) {
        all: unset;
      }
    }
  }
}
