@import "../../sassContainer/mixins";
@import "../../sassContainer/variables";

.navbar_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.navbar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.25rem;
  background: $naturalWhite;
  max-width: 1500px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  .navbar_icon {
    @include iconDesktop;

    @include max_query(768px) {
      @include iconMobile;
    }
  }
}
