@import "./variables";

// Fonts section | Main page
// Mobile version
@mixin fontInformationMobile {
  color: $naturalWhite;
  font-size: 0.625rem;
  line-height: 180%;
}

@mixin fontTitleMobilePrimary {
  color: $blackColor;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}

@mixin fontTitleMobileSecondary {
  color: $blackColor;
  font-size: 0.75rem;
  line-height: 180%;
}

// Desktop version
@mixin fontInformationDesktop {
  // font-size: 1.25rem;
  // cause it was too big i changed to:
  font-size: 0.7rem;
}

@mixin fontTitleDesktopPrimary {
  // font-size: 1.5rem;
  // cause it was too big i changed to:
  font-size: 1.1rem;
}

@mixin fontTitleDesktopSecondary {
  // font-size: 1.25rem;
  // cause it was too big i changed to:
  font-size: 0.8rem;
}
// End of Fonts section

// Buttons section
// primary button
// Mobile version | Main page
@mixin primaryButtonMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  //
  background: $primaryColor;
  width: 5.68rem;
  height: 1.5rem;
  border-radius: 4px;
  border: none;
  // Font
  @include fontInformationMobile;
}

// Desktop version
@mixin primaryButtonDesktop {
  // width: 11.5rem;
  // height: 2.5rem;
  // cause it was too big i changed to:
  width: 9rem;
  height: 2.2rem;
  border-radius: 8px;
  // Font
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
}
// End of primary button

// outlined button
// Mobile version
@mixin primaryButtonOutlinedMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  //
  background: transparent;
  width: 9.5rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid $naturalWhite;
  // Font
  @include fontTitleMobileSecondary;
  color: $naturalWhite;
}

// Desktop version
@mixin primaryButtonOutlinedDesktop {
  // width: 11.5rem;
  // height: 2.5rem;
  // cause it was too big i changed to:
  width: 9rem;
  height: 2rem;
  // Font
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
}
// End of outlined button

// Grey button
// Mobile version | Menu page
@mixin greyButtonMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  //
  background: $greyColor;
  height: 1.5rem;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  // Font
  @include fontInformationMobile;
  color: $blackColor;
}

// Desktop version
@mixin greyButtonDesktop {
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 4rem;
  // Font
  font-size: 1rem;
}
// End of Grey button
// End of buttons section

// Discount section | Main page
@mixin discount {
  width: 2rem;
  height: 1;
  background: $redColorLight;
  border-radius: 0.5rem;
  // Font
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 180%;
  color: $redColor;
}
// End of discount section

// Icons section
// Mobile version
@mixin iconMobile {
  color: $primaryColor;
  width: 1rem;
  height: 1rem;
}

@mixin iconMobileIsActive {
  background-color: $primaryColor;
  color: $whiteColor;
}

// Desktop version
@mixin iconDesktop {
  border-radius: 0.25rem;
  // width: 1.5rem;
  // height: 1.5rem;
  // cause it was too big i changed to:
  width: 1.2rem;
  height: 1.2rem;
}

@mixin iconDesktopIsActive {
  background-color: $primaryColor;
  color: $whiteColor;
}
// End od Icons section

// Query
@mixin query($width) {
  @media (min-width: $width) {
    @content;
  }
}
