// Green
$primaryColor: #417f56;
$primaryColorMiddleDark: #315f41;
$primaryColorHeavyDark: #294f36;
$primaryColorLight: #e5f2e9;

// White
$whiteColor: #ffffff;
$naturalWhite: #fff;

// Grey
$greyColor: #ededed;
$greyColorDark: #717171;

// Black
$blackColor: #353535;

// Red
$redColor: #c30000;
$redColorLight: #fff2f2;
